.App {
    background-color: #C8EAEA;
}
.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
    color: black;
}

.footer{
    background-color: #3E4646;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    color: blanchedalmond;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #42EEEE ;
    color:black;
}

address{
    font-size:80%;
    margin:0px;
    color: floralwhite;
}

.navbar-dark {
    color: #0f0f0f;
    background-color: #07B9AE;
}

.breadcrumb{
    background-color: #A2E1E1;
    margin-top: 3rem;
}

